body {
  background-image: url(../../images/kakaofriends.gif);
  background-repeat: no-repeat;
  background-size: 300px 300px;
  /* top bottom center  left right center */
  background-position: center center;
  height: 3000px;
  background-attachment: fixed;
  background: linear-gradient(to right bottom, blue, pink);
  background: radial-gradient(circle, skyblue, yellowgreen);
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}
h1 {
  background-color: yellow;
}
p {
  background-color: rgb(255, 10, 20);
}
.bg {
  background-color: rgba(100, 255, 50, 0.5);
}