* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 3000px;
}

header {
 background-color: cornflowerblue;
 padding: 10px; /* 안쪽 여백 */
 overflow: auto;

 position: sticky;
 top: 0;
}

.nav > ul > li{
display: inline-block;
margin-right: 20px;
}

header a {
  text-decoration: none;
  color: black;
}

.logo {
  float: left;
}

.nav {
  float: right;
}

content {
  clear: both;
}

content > h2, content > p {
  padding: 20px;
}

.btn-top {
  border: 1px solid lightgray;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.btn-top i {
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: gray;
}

.btn-top:hover {
  background: rgb(212, 204, 204);
}